*
{
  margin: 0;
  padding: 0;
}
header
{
  background-color: #DADCC9;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.main-nav
{
  float: right;
  list-style: none;
  margin-top: 30px;
}
.main-nav li
{
  display: inline-block;
}
.main-nav li a
{
  color: white;
  text-decoration: none;
  padding: 6x 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15PX;
}
.main-nav li.active a
{
  border: 3px solid white;

}
.main-nav li a:hover
{
border: 3px solid white;
}
.logo img
{
  width: 150px;
  height: auto;
  float: left;
}
body
{
font-family: monospace;
}
.row
{
  max-width: 1200px;
  margin: auto;
}
.hero
{
  position: absolute;
  width: 1200px;
  margin-left: 0;
  margin-top: 0;
}
h1
{
  color: black;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  margin-top: 275px;
}
.button
{
  margin-top: : 30px;
  margin-left: 440px;
}
.button
{
border: 2px solid white;
padding: 10px 30 px;
color: white;
text-decoration: none;
margin-right: 5px;

}
.main-nav body::after;
