body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1lduqh_pDJAcXDV3-RgBgrkKLqmm3Uvj4vyZK0IkQj8dBWXwkLA");
    background-repeat:  no-repeat;
    background-size:cover;
